@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Baloo+2|Roboto:500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
.content__fa-graduation-cap, .content__fa-briefcase {
  font-size: 1.4em;
  color: #f6b601;
}

@media screen and (max-width: 420px) {
  .content__fa-graduation-cap, .content__fa-briefcase {
    display: none;
  }
}

html {
  background: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer,
header,
main {
  max-width: 115em;
  margin: 0 auto;
}

.body {
  font-family: "Roboto", sans-serif;
  background-color: #141824;
  background: url("../images/background_art.svg") no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

.nav-bar {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 15px 100px 15px 100px;
  mix-blend-mode: difference;
}

.nav-bar__link-lg {
  -webkit-box-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.nav-bar__logo {
  color: #f6b601;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.nav-bar__logo:hover {
  -webkit-transform: scale(0.87);
          transform: scale(0.87);
}

.nav-bar #circle {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: spin 5s infinite;
          animation: spin 5s infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
  to {
    -webkit-transform: rotatey(360deg);
            transform: rotatey(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
  to {
    -webkit-transform: rotatey(360deg);
            transform: rotatey(360deg);
  }
}

.nav-bar__nav-right {
  -webkit-box-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.nav-bar__link {
  color: #eae7d8;
  font-weight: bold;
  font-size: 22px;
  padding: 14px 28px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: border-radius 500ms 100ms, color 700ms 100ms, -webkit-transform 800ms;
  transition: border-radius 500ms 100ms, color 700ms 100ms, -webkit-transform 800ms;
  transition: transform 800ms, border-radius 500ms 100ms, color 700ms 100ms;
  transition: transform 800ms, border-radius 500ms 100ms, color 700ms 100ms, -webkit-transform 800ms;
}

.nav-bar__link--highlight-underline {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-color: #f6b601;
  text-decoration-color: #f6b601;
  text-underline-offset: 50%;
}

.nav-bar__link:hover:not(.nav-bar__link-lg) {
  text-align: center;
  background-color: #f6b601;
  color: #141824;
  -webkit-transform: scale(1.22);
          transform: scale(1.22);
}

@media screen and (max-width: 902px) {
  .nav-bar {
    display: none;
    overflow: hidden;
  }
  .nav-bar__link-lg {
    display: none;
  }
  .nav-bar__nav-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .nav-bar__link {
    -ms-grid-row-align: center;
        align-self: center;
  }
  .nav-bar__link:hover {
    width: 135%;
  }
}

@media screen and (max-width: 532px) {
  .nav-bar {
    display: none;
  }
  .nav-bar__nav-right {
    display: none;
  }
}

#toggle {
  display: none;
}

@media screen and (max-width: 902px) {
  #toggle:checked + .nav-bar {
    display: -webkit-box;
    display: flex;
  }
}

.toggle-area {
  z-index: 2;
  display: none;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  padding: 15px 0;
}

.toggle-area__icon-header {
  display: none;
}

.toggle-area__logo {
  color: #f6b601;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  mix-blend-mode: difference;
  font-size: 70%;
}

.toggle-area__logo:hover {
  -webkit-transform: scale(0.87);
          transform: scale(0.87);
}

.toggle-area #circle {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: spin 5s infinite;
          animation: spin 5s infinite;
}

@keyframes spin {
  from {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
  to {
    -webkit-transform: rotatey(360deg);
            transform: rotatey(360deg);
  }
}

.toggle-area__label {
  height: 45px;
  width: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.toggle-area__burger {
  mix-blend-mode: difference;
  color: #eae7d8;
  font-size: 43px;
}

@media screen and (max-width: 902px) {
  .toggle-area {
    display: -webkit-box;
    display: flex;
  }
}

@media screen and (max-width: 532px) {
  .toggle-area {
    background: #141824;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.7em;
  }
  .toggle-area__link-tg {
    display: none;
  }
  .toggle-area__label {
    display: none;
  }
  .toggle-area__icon-header {
    display: -webkit-box;
    display: flex;
    color: #eae7d8;
    font-size: 2.3em;
  }
  .toggle-area__icon-header--active {
    color: #f6b601;
  }
}

.content {
  margin-bottom: 1.6em;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  -webkit-box-pack: center;
          justify-content: center;
  align-content: center;
}

@media screen and (max-width: 826px) {
  .content {
    font-size: 90%;
  }
}

@media screen and (max-width: 665px) {
  .content {
    font-size: 82%;
  }
}

@media screen and (max-width: 532px) {
  .content {
    font-size: 75%;
  }
}

.content__title {
  mix-blend-mode: difference;
  -ms-grid-row-align: center;
      align-self: center;
  font-size: 2.4em;
  color: #eae7d8;
  width: 69%;
  margin: 0.4em;
}

@media screen and (max-width: 665px) {
  .content__title {
    width: 95%;
    text-align: center;
  }
}

.content__fa-graduation-cap {
  margin-left: -1.5em;
}

.content__fa-briefcase {
  margin-left: -1.22em;
}

.content__fa-circle {
  font-size: 0.7em;
  position: relative;
  bottom: -0.1em;
  color: #f6b601;
}

@media screen and (max-width: 665px) {
  .content__fa-circle {
    display: none;
  }
}

.content__line {
  mix-blend-mode: difference;
  -ms-grid-row-align: center;
      align-self: center;
  width: 79%;
  position: relative;
  top: 1%;
  border: none;
  height: 0.16em;
  background: #f6b601;
}

.content__article-about {
  align-self: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 60%;
  color: #eae7d8;
  margin-top: 0.8em;
  font-size: 1.3em;
  padding: 2em;
  background: #141824;
  position: relative;
}

.content__article-about:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 100px solid #64876f;
  border-left: 310px solid transparent;
  width: 0;
}

.content__article-about:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 100px solid #64876f;
  border-right: 310px solid transparent;
  width: 0;
}

@media screen and (max-width: 902px) {
  .content__article-about {
    width: 85%;
  }
  .content__article-about:before {
    border-top: 50px solid #64876f;
    border-left: 320px solid transparent;
  }
  .content__article-about:after {
    border-bottom: 50px solid #64876f;
    border-right: 320px solid transparent;
  }
}

@media screen and (max-width: 826px) {
  .content__article-about {
    width: 80%;
  }
  .content__article-about:before {
    border-top: 55px solid #64876f;
  }
  .content__article-about:after {
    border-bottom: 55px solid #64876f;
  }
}

@media screen and (max-width: 665px) {
  .content__article-about:before {
    border-top: 50px solid #64876f;
    border-left: 310px solid transparent;
  }
  .content__article-about:after {
    border-bottom: 50px solid #64876f;
    border-right: 310px solid transparent;
  }
}

@media screen and (max-width: 532px) {
  .content__article-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
    align-content: center;
  }
  .content__article-about:before {
    border-top: 38px solid #64876f;
  }
  .content__article-about:after {
    border-bottom: 38px solid #64876f;
  }
}

@media screen and (max-width: 420px) {
  .content__article-about:before {
    border-top: 30px solid #64876f;
    border-left: 210px solid transparent;
  }
  .content__article-about:after {
    border-bottom: 30px solid #64876f;
    border-right: 210px solid transparent;
  }
}

.content__location {
  display: -webkit-box;
  display: flex;
  width: 40%;
  margin-right: 1em;
}

.content__location span {
  padding-left: 10px;
}

@media screen and (max-width: 902px) {
  .content__location {
    width: 50%;
    margin-right: 0.2em;
  }
  .content__location span {
    width: 50%;
  }
}

@media screen and (max-width: 826px) {
  .content__location {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
  }
  .content__location span {
    height: 70%;
  }
}

@media screen and (max-width: 665px) {
  .content__location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
    width: 100%;
  }
  .content__location span {
    padding-left: 5px;
  }
}

@media screen and (max-width: 532px) {
  .content__location {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row nowrap;
    margin-right: 0;
  }
  .content__location br {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .content__location {
    -webkit-box-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.content__school-diploma {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  width: 60%;
}

.content__school-diploma--highlight {
  font-weight: bold;
  font-size: 1.35em;
}

.content__school-diploma--spacing {
  margin: 0.7em 0;
  font-style: italic;
}

@media screen and (max-width: 902px) {
  .content__school-diploma {
    width: 87%;
  }
}

@media screen and (max-width: 665px) {
  .content__school-diploma {
    width: 85%;
  }
}

@media screen and (max-width: 532px) {
  .content__school-diploma {
    margin-top: 0.3em;
    width: 100%;
  }
}

.footer {
  background-color: #f6b601;
  background-size: cover;
  padding: 2em 15em;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  -webkit-box-align: center;
          align-items: center;
}

.footer__links {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 4em;
}

.footer__two {
  max-width: 50%;
}

.footer__image {
  float: left;
  margin-right: 7px;
  border: #141824 solid 4px;
}

.footer__bio-info {
  text-align: justify;
  margin-bottom: 15px;
}

@media screen and (max-width: 532px) {
  .footer__bio-info {
    font-size: 86%;
  }
}

.footer__social {
  align-self: flex-start;
  list-style: none;
  margin-left: 55px;
}

.footer__item {
  display: -webkit-box;
  display: flex;
}

.footer__icon-footer {
  color: #141824;
  font-size: 30px;
  padding-right: 7px;
}

.footer__small {
  display: none;
}

@media screen and (max-width: 1408px) {
  .footer__description {
    display: none;
  }
  .footer__icon-footer {
    padding-left: 7px;
  }
  .footer__small {
    display: -webkit-box;
    display: flex;
  }
}

@media screen and (max-width: 902px) {
  .footer {
    padding: 2em 0;
  }
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
  }
  .footer__two {
    max-width: 70%;
    margin-bottom: 2em;
  }
  .footer__social {
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .footer__small {
    display: none;
  }
}

@media screen and (max-width: 532px) {
  .footer__copyright {
    padding-bottom: 1em;
  }
}
