@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Baloo+2|Roboto:500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
.content__input:focus, .content__textarea:focus {
  box-shadow: 0 0 9px 2px #b0e0ee;
  border: 1.2px solid #bebede;
}

html {
  background: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer,
header,
main {
  max-width: 115em;
  margin: 0 auto;
}

.body {
  font-family: "Roboto", sans-serif;
  background-color: #141824;
  background: url("../images/background_art.svg") no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 15px 100px 15px 100px;
  mix-blend-mode: difference;
}

.nav-bar__link-lg {
  flex: 2;
  display: flex;
  align-items: center;
}

.nav-bar__logo {
  color: #f6b601;
  transform: scale(0.9);
  transition: all 500ms;
}

.nav-bar__logo:hover {
  transform: scale(0.87);
}

.nav-bar #circle {
  transform-origin: center center;
  -webkit-animation: spin 5s infinite;
          animation: spin 5s infinite;
}

@-webkit-keyframes spin {
  from {
    transform: rotatey(0deg);
  }
  to {
    transform: rotatey(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotatey(0deg);
  }
  to {
    transform: rotatey(360deg);
  }
}

.nav-bar__nav-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.nav-bar__link {
  color: #eae7d8;
  font-weight: bold;
  font-size: 22px;
  padding: 14px 28px;
  transform: scale(1);
  transition: transform 800ms, border-radius 500ms 100ms, color 700ms 100ms;
}

.nav-bar__link--highlight-underline {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-color: #f6b601;
  text-decoration-color: #f6b601;
  text-underline-offset: 50%;
}

.nav-bar__link:hover:not(.nav-bar__link-lg) {
  text-align: center;
  background-color: #f6b601;
  color: #141824;
  transform: scale(1.22);
}

@media screen and (max-width: 902px) {
  .nav-bar {
    display: none;
    overflow: hidden;
  }
  .nav-bar__link-lg {
    display: none;
  }
  .nav-bar__nav-right {
    flex-direction: column;
  }
  .nav-bar__link {
    -ms-grid-row-align: center;
        align-self: center;
  }
  .nav-bar__link:hover {
    width: 135%;
  }
}

@media screen and (max-width: 532px) {
  .nav-bar {
    display: none;
  }
  .nav-bar__nav-right {
    display: none;
  }
}

#toggle {
  display: none;
}

@media screen and (max-width: 902px) {
  #toggle:checked + .nav-bar {
    display: flex;
  }
}

.toggle-area {
  z-index: 2;
  display: none;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}

.toggle-area__icon-header {
  display: none;
}

.toggle-area__logo {
  color: #f6b601;
  transform: scale(0.9);
  transition: all 500ms;
  mix-blend-mode: difference;
  font-size: 70%;
}

.toggle-area__logo:hover {
  transform: scale(0.87);
}

.toggle-area #circle {
  transform-origin: center center;
  -webkit-animation: spin 5s infinite;
          animation: spin 5s infinite;
}

@keyframes spin {
  from {
    transform: rotatey(0deg);
  }
  to {
    transform: rotatey(360deg);
  }
}

.toggle-area__label {
  height: 45px;
  width: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle-area__burger {
  mix-blend-mode: difference;
  color: #eae7d8;
  font-size: 43px;
}

@media screen and (max-width: 902px) {
  .toggle-area {
    display: flex;
  }
}

@media screen and (max-width: 532px) {
  .toggle-area {
    background: #141824;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.7em;
  }
  .toggle-area__link-tg {
    display: none;
  }
  .toggle-area__label {
    display: none;
  }
  .toggle-area__icon-header {
    display: flex;
    color: #eae7d8;
    font-size: 2.3em;
  }
  .toggle-area__icon-header--active {
    color: #f6b601;
  }
}

.content {
  margin-bottom: 1.6em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  color: #eae7d8;
}

@media screen and (max-width: 826px) {
  .content {
    font-size: 90%;
  }
}

@media screen and (max-width: 665px) {
  .content {
    font-size: 82%;
  }
}

@media screen and (max-width: 532px) {
  .content {
    font-size: 75%;
  }
}

@media screen and (max-width: 420px) {
  .content {
    flex-flow: column wrap;
    max-width: 100%;
  }
}

.content__title {
  mix-blend-mode: difference;
  -ms-grid-row-align: center;
      align-self: center;
  width: 69%;
  font-size: 2.4em;
  margin: 0.4em;
}

@media screen and (max-width: 665px) {
  .content__title {
    width: 95%;
    text-align: center;
  }
}

.content__field {
  font-size: 1.3em;
  margin: 0.8em;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  width: 34.5%;
}

@media screen and (max-width: 902px) {
  .content__field {
    width: 33%;
  }
}

@media screen and (max-width: 532px) {
  .content__field {
    width: 100%;
    align-content: center;
  }
  .content__field--no-bottom {
    margin-bottom: 0;
  }
}

.content__field--align {
  align-content: flex-start;
}

@media screen and (max-width: 532px) {
  .content__field--align {
    align-content: center;
    margin-top: 0;
  }
}

.content__field--resize {
  flex-flow: row wrap;
  width: 51%;
}

@media screen and (max-width: 1408px) {
  .content__field--resize {
    justify-content: center;
    width: 53%;
  }
}

@media screen and (max-width: 902px) {
  .content__field--resize {
    width: 70%;
  }
}

@media screen and (max-width: 532px) {
  .content__field--resize {
    width: 100%;
    justify-content: center;
  }
}

.content__label {
  color: #eae7d8;
  mix-blend-mode: difference;
}

.content__requierd {
  color: red;
  margin-left: 0;
  font-size: 80%;
}

.content__input {
  width: 70%;
  margin-bottom: 2em;
  background: #eae7d8;
  border: none;
  height: 2em;
}

@media screen and (max-width: 902px) {
  .content__input {
    width: 100%;
  }
}

@media screen and (max-width: 532px) {
  .content__input {
    width: 73%;
  }
}

@media screen and (max-width: 420px) {
  .content__input {
    width: 70%;
  }
}

@media screen and (max-width: 280px) {
  .content__input {
    width: 93%;
  }
}

.content__textarea {
  background: #eae7d8;
  border: none;
  height: 16.6em;
}

.content__button {
  margin-right: 0.8em;
  border: none;
  border-radius: 0;
  height: 2.3em;
  width: 4.3em;
  background: #64876f;
  color: #eae7d8;
  font-size: 110%;
  font-weight: 800;
}

.footer {
  background-color: #f6b601;
  background-size: cover;
  padding: 2em 15em;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.footer__links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4em;
}

.footer__two {
  max-width: 50%;
}

.footer__image {
  float: left;
  margin-right: 7px;
  border: #141824 solid 4px;
}

.footer__bio-info {
  text-align: justify;
  margin-bottom: 15px;
}

@media screen and (max-width: 532px) {
  .footer__bio-info {
    font-size: 86%;
  }
}

.footer__social {
  align-self: flex-start;
  list-style: none;
  margin-left: 55px;
}

.footer__item {
  display: flex;
}

.footer__icon-footer {
  color: #141824;
  font-size: 30px;
  padding-right: 7px;
}

.footer__small {
  display: none;
}

@media screen and (max-width: 1408px) {
  .footer__description {
    display: none;
  }
  .footer__icon-footer {
    padding-left: 7px;
  }
  .footer__small {
    display: flex;
  }
}

@media screen and (max-width: 902px) {
  .footer {
    padding: 2em 0;
  }
  .footer__links {
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
  }
  .footer__two {
    max-width: 70%;
    margin-bottom: 2em;
  }
  .footer__social {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer__small {
    display: none;
  }
}

@media screen and (max-width: 532px) {
  .footer__copyright {
    padding-bottom: 1em;
  }
}
