@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Baloo+2|Roboto:500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
html {
  background: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer,
header,
main {
  max-width: 115em;
  margin: 0 auto;
}

.body {
  font-family: "Roboto", sans-serif;
  background-color: #141824;
  background: url("../images/background_art.svg") no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

.nav-bar {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 15px 100px 15px 100px;
  mix-blend-mode: difference;
}

.nav-bar__link-lg {
  -webkit-box-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.nav-bar__logo {
  color: #f6b601;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.nav-bar__logo:hover {
  -webkit-transform: scale(0.87);
          transform: scale(0.87);
}

.nav-bar__nav-right {
  -webkit-box-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.nav-bar__link {
  color: #eae7d8;
  font-weight: bold;
  font-size: 22px;
  padding: 14px 28px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: border-radius 500ms 100ms, color 700ms 100ms, -webkit-transform 800ms;
  transition: border-radius 500ms 100ms, color 700ms 100ms, -webkit-transform 800ms;
  transition: transform 800ms, border-radius 500ms 100ms, color 700ms 100ms;
  transition: transform 800ms, border-radius 500ms 100ms, color 700ms 100ms, -webkit-transform 800ms;
}

.nav-bar__link--highlight-underline {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-color: #f6b601;
  text-decoration-color: #f6b601;
  text-underline-offset: 50%;
}

.nav-bar__link:hover:not(.nav-bar__link-lg) {
  text-align: center;
  background-color: #f6b601;
  color: #141824;
  -webkit-transform: scale(1.22);
          transform: scale(1.22);
}

@media screen and (max-width: 902px) {
  .nav-bar {
    display: none;
    overflow: hidden;
  }
  .nav-bar__link-lg {
    display: none;
  }
  .nav-bar__nav-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .nav-bar__link {
    -ms-grid-row-align: center;
        align-self: center;
  }
  .nav-bar__link:hover {
    width: 135%;
  }
}

@media screen and (max-width: 532px) {
  .nav-bar {
    display: none;
  }
  .nav-bar__nav-right {
    display: none;
  }
}

#toggle {
  display: none;
}

@media screen and (max-width: 902px) {
  #toggle:checked + .nav-bar {
    display: -webkit-box;
    display: flex;
  }
}

.toggle-area {
  display: none;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  padding: 15px 0;
}

.toggle-area__icon-header {
  display: none;
}

.toggle-area__logo {
  color: #f6b601;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  mix-blend-mode: difference;
  font-size: 70%;
}

.toggle-area__logo:hover {
  -webkit-transform: scale(0.87);
          transform: scale(0.87);
}

.toggle-area__label {
  height: 45px;
  width: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.toggle-area__burger {
  mix-blend-mode: difference;
  color: #eae7d8;
  font-size: 43px;
}

@media screen and (max-width: 902px) {
  .toggle-area {
    display: -webkit-box;
    display: flex;
  }
}

@media screen and (max-width: 532px) {
  .toggle-area {
    background: #141824;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.7em;
  }
  .toggle-area__link-tg {
    display: none;
  }
  .toggle-area__label {
    display: none;
  }
  .toggle-area__icon-header {
    display: -webkit-box;
    display: flex;
    color: #eae7d8;
    font-size: 2.3em;
  }
  .toggle-area__icon-header--active {
    color: #f6b601;
  }
}

.title-container {
  mix-blend-mode: difference;
  color: #eae7d8;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 10em;
  padding: 40px 20px 30px;
  text-align: center;
}

.title-container__title {
  max-width: 65%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  padding: 40px 10px;
  font-family: "Baloo 2", cursive;
  font-size: 1.85em;
}

.title-container__subtitle {
  font-size: 0.9em;
}

@media screen and (max-width: 902px) {
  .title-container {
    height: 30em;
  }
  .title-container__title {
    font-size: 118%;
  }
  .title-container__subtitle {
    font-size: 122%;
  }
}

@media screen and (max-width: 826px) {
  .title-container {
    margin-bottom: 6em;
  }
  .title-container__title {
    font-size: 116%;
  }
}

@media screen and (max-width: 665px) {
  .title-container {
    height: 20em;
  }
  .title-container__title {
    font-size: 110%;
  }
  .title-container__subtitle {
    font-size: 120%;
  }
}

@media screen and (max-width: 532px) {
  .title-container {
    font-size: 89%;
  }
}

@media screen and (max-width: 420px) {
  .title-container {
    font-size: 86%;
  }
}

.content {
  margin-bottom: 1.6em;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: center;
          justify-content: center;
}

.content__title {
  mix-blend-mode: difference;
  font-size: 2.4em;
  color: #eae7d8;
  width: 69%;
  margin: 0.4em;
}

@media screen and (max-width: 665px) {
  .content__title {
    width: 95%;
    text-align: center;
  }
}

.content__article {
  margin: 0.4em;
  flex-basis: 34%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  -webkit-box-pack: end;
          justify-content: flex-end;
  color: #f6b601;
  min-height: 30em;
}

@media screen and (max-width: 532px) {
  .content__article {
    min-height: 20em;
  }
}

.content__article--resize {
  margin: 0;
  min-height: 48.6%;
}

.content__article--resize:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  box-sizing: border-box;
  border: 20px solid #f6b601;
  background-color: #141824;
  color: #f6b601;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.content__article--resize:hover .content__subtitle-project {
  display: none;
}

.content__article--resize:hover .content__project-logo {
  display: none;
}

.content__article--resize:hover .content__project-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-size: 2em;
}

.content__article--resize:hover .content__project-link:focus .arrow,
.content__article--resize:hover .content__project-link:hover .arrow {
  stroke-width: 6;
  stroke: #f6b601;
}

.content__article--resize:hover .arrow {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

@media screen and (max-width: 665px) {
  .content__article--resize {
    min-height: 30em;
  }
}

@media screen and (max-width: 532px) {
  .content__article--resize {
    min-height: 20em;
  }
}

.content__article--reshape {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 665px) {
  .content__article--reshape {
    min-height: 61em;
  }
}

@media screen and (max-width: 532px) {
  .content__article--reshape {
    min-height: 41em;
  }
}

.content__article--subeast {
  background-color: #9E9E9E;
}

.content__article--dogsTrust {
  background-color: #ffd535;
}

.content__article--poolspot {
  background-color: #F8F9FA;
}

.content__article--fan-courier {
  background-color: #E3EAF2;
}

.content__article--electroalfa {
  background-color: #0B1135;
}

.content__article--clean {
  background-color: #D7D7D7;
}

.content__article:hover:not(.content__article--reshape) {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  box-sizing: border-box;
  border: 20px solid #f6b601;
  background-color: #141824;
  color: #f6b601;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.content__article:hover:not(.content__article--reshape) .content__subtitle-project {
  display: none;
}

.content__article:hover:not(.content__article--reshape) .content__project-logo {
  display: none;
}

.content__article:hover:not(.content__article--reshape) .content__project-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-size: 2em;
}

.content__article:hover:not(.content__article--reshape) .content__project-link:focus .arrow,
.content__article:hover:not(.content__article--reshape) .content__project-link:hover .arrow {
  stroke-width: 6;
  stroke: #f6b601;
}

.content__article:hover:not(.content__article--reshape) .arrow {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.content__subtitle-project {
  min-height: 3em;
  padding-left: 2em;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.5em;
}

.content__subtitle-project--color {
  mix-blend-mode: exclusion;
}

.content__project-link {
  display: none;
}

.content__project-logo {
  -ms-grid-row-align: center;
      align-self: center;
  margin: auto 0;
  width: 80%;
}

@media screen and (max-width: 665px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    align-content: center;
    margin: 0 5.5em 1.6em;
  }
}

@media screen and (max-width: 532px) {
  .content {
    margin: 0 3em 1.6em;
  }
}

.footer {
  background-color: #f6b601;
  background-size: cover;
  padding: 2em 15em;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  -webkit-box-align: center;
          align-items: center;
}

.footer__links {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 4em;
}

.footer__two {
  max-width: 50%;
}

.footer__image {
  float: left;
  margin-right: 7px;
  border: #141824 solid 4px;
}

.footer__bio-info {
  text-align: justify;
  margin-bottom: 15px;
}

.footer__social {
  align-self: flex-start;
  list-style: none;
  margin-left: 55px;
}

.footer__item {
  display: -webkit-box;
  display: flex;
}

.footer__icon-footer {
  color: #141824;
  font-size: 30px;
  padding-right: 7px;
}

.footer__small {
  display: none;
}

@media screen and (max-width: 1408px) {
  .footer__description {
    display: none;
  }
  .footer__icon-footer {
    padding-left: 7px;
  }
  .footer__small {
    display: -webkit-box;
    display: flex;
  }
}

@media screen and (max-width: 902px) {
  .footer {
    padding: 2em 0;
  }
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
  }
  .footer__two {
    max-width: 70%;
    margin-bottom: 2em;
  }
  .footer__social {
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .footer__small {
    display: none;
  }
}
