@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada:700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: #75ABBC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar__avatar {
  border-radius: 50%;
  padding: 5px 40px;
}

.link {
  color: #f6f7f8;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: 14px 28px;
}
.link:hover {
  background-color: rgba(246, 247, 248, 0.6);
  color: #75ABBC;
  border-radius: 5%;
}
.link__logo {
  font-family: "Montserrat Subrayada", sans-serif;
  color: #3D3E3E;
}

#toggle {
  display: none;
}

.toggle-area {
  background-color: #75ABBC;
  border-bottom: 2px solid #f6f7f8;
  padding: 10px;
  display: none;
  justify-content: flex-end;
  align-items: center;
}
.toggle-area__link-tg {
  text-decoration: none;
  margin: 0 auto;
}
.toggle-area__logo {
  font-family: "Montserrat Subrayada", sans-serif;
  color: #3D3E3E;
}

.label {
  height: 45px;
  width: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.label__line {
  background-color: black;
  height: 4px;
  width: 70%;
  margin: 2px 0;
}

@media screen and (max-width: 640px) {
  .nav-bar {
    flex-direction: column;
    display: none;
  }
  .nav-bar__avatar, .nav-bar__link-lg {
    display: none;
  }

  #toggle:checked + .nav-bar {
    display: flex;
  }

  .toggle-area {
    display: flex;
  }

  .link {
    padding: 14px 100%;
  }
}