@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Roboto&display=swap');

$primary-color: #5D3B77;
$secondary-color: #F1C40F;
$tertiary-color: rgba(246, 247, 248, 1);

@mixin logo {
        font-family: 'Montserrat Subrayada', sans-serif;
        color: $secondary-color;
        transform: scale(1.2);
        transition: all 1000ms;
}

$padding: (avatar: (15px 100px), link: (14px 28px), toggle: (10px 40px), breakpoint-link: (14px 100%));
$fonts: (logo2: 16px, nav-right: 22px);

* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body {
        font-family: 'Roboto', sans-serif;
}

.nav-bar {
        background-color: $primary-color;
	display: flex;
        align-items: center;
        padding: map-get($padding, avatar);
        &__avatar {
                border-radius: 50%;
                padding-right: 20px;
                padding-left: 20px;
        }
        &__link-lg {
                flex: 2;
                display: flex;
                justify-content: center;
                text-decoration: none;
                margin: auto 20px;
        }
        &__logo {
                @include logo;
                &:hover {
                        transform: scale(1.8);
                }
        }
        &__nav-right {
                flex: 1;
                display: flex;
                justify-content: flex-end;
        }
}

.link {
        color: $tertiary-color;
	text-align: center;
	font-weight: bold;
        font-size: map-get($fonts, nav-right);
	text-decoration: none;
	padding: map-get($padding, link);
        transform: scale(1);
        transition: transform 800ms, border-radius 500ms 100ms, color 700ms 100ms;
        &:hover:not(.nav-bar__link-lg) {
                background-color: rgba(241,196,15);
                color: $primary-color;
                border-radius: 50%;
                transform: scale(1.22);
        }
        &__logo {
                @include logo;
        }
}

#toggle {
        display: none;
}

.toggle-area {
        background-color: $primary-color;
        border-bottom: 2px solid $tertiary-color;
        padding: map-get($padding, toggle);
        display: none;
        justify-content: flex-end;
        align-items: center;
        &__link-tg {
                text-decoration: none;
                margin: 0 auto;
        }
        &__logo {
                @include logo;
                &:hover {
                        transform: scale(1.2);
                }
        }
}

.label {
        height: 45px;
        width: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__line {
                background-color: black;
                height: 4px;
                width: 70%;
                margin: 2px 0;
        }
}

.footer {
        margin-top: 2em;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
}

.links {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 4em;
}

.two {
        max-width: 30%;
}

.two > img {
        float: left;
        margin-right: 7px;
        border: black solid 4px;
}

.bio-info {
        margin-bottom: 15px;
}

.social {
        list-style: none;
}

li {
        display: flex;
}

@media screen and (max-width: 900px) {
        .nav-bar {
                flex-direction: column;
                display: none;
                &__avatar, &__link-lg {
                        display: none;
                }
        }

        #toggle:checked + .nav-bar {
                display: flex;
        }

        .nav-bar__nav-right {
                flex-direction: column;
                align-items: center;
                width: 100%;
        }

        .toggle-area {
                display: flex;
        }

        .link {
        	padding: map-get($padding, breakpoint-link);
        }

        .links {
                flex-flow: column wrap;
                justify-content: space-around;
                align-content: center;
        }

        .two{
                max-width: 70%;
                margin-bottom: 2em;
        }
}
