@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:700&display=swap');

* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

.avatar {
        border-radius: 50%;
}

h1 {
        font-family: 'Montserrat Subrayada', sans-serif;
        color: #3D3E3E;
}

.nav-bar {
        background-color: #75ABBC;
	display: flex;
	justify-content: center;
        align-items: center;
}

.nav-bar img {
        padding: 5px 40px;
}

.nav-bar a {
        color: #DFE0E2;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	padding: 14px 28px;
}

.nav-bar  a:hover {
        background-color: rgba(246, 247, 248, 0.6);
	color: #75ABBC;
        border-radius: 3%;
}

#toggle {
        display: none;
}

.toggle-area {
        background-color: #75ABBC;
        border-bottom: 2px solid white;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
}

.toggle-area a {
        text-decoration: none;
        margin: 0 auto;
}

.toggle-area label {
        background-color: #75ABBC;
        height: 45px;
        width: 50px;
        color: black;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.toggle-area label span {
        background-color: black;
        height: 4px;
        width: 70%;
        margin: 2px 0;
}

.toggle-area {
        display: none;
}

@media screen and (max-width: 640px) {
        .nav-bar {
                flex-direction: column;
                display: none;
        }
        #toggle:checked + .nav-bar {
                display: flex;
        }

        .toggle-area {
                display: flex;
        }

        .nav-bar img{
                display: none;
        }

        .nav-bar h1{
                display: none;
        }
}
